<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!--servlet LOGIN -->
    <servlet>
        <description></description>
        <display-name>ServletLogin</display-name>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>com.lacoraza.servlet.ServletLogin</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/Perfil/login</url-pattern>
    </servlet-mapping>

    <!--servlet REGISTER -->

    <servlet>
        <description></description>
        <display-name>ServletRegister</display-name>
        <servlet-name>ServletRegister</servlet-name>
        <servlet-class>com.lacoraza.servlet.ServletRegister</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>ServletRegister</servlet-name>
        <url-pattern>/Perfil/register</url-pattern>
    </servlet-mapping>

</web-app>