/*
  This boilerplate is based in ITCSS and SMACSS
*/
*,
*::before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "sans-serif";
  background-color: #d9dade;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

p, h3, h1, h2 {
  margin: 0;
}

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
    ========================================================================== */
/**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS and IE text size adjust after device orientation change,
  *    without disabling user zoom.
  * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
  *  `em` units.
  */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
  * Remove default margin.
  */
body {
  margin: 0;
}

/* HTML5 display definitions
    ========================================================================== */
/**
  * Correct `block` display not defined for any HTML5 element in IE 8/9.
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox.
  * Correct `block` display not defined for `main` in IE 11.
  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
  * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
  * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
  */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
  * Prevents modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
  * Address `[hidden]` styling not present in IE 8/9/10.
  * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
  */
[hidden],
template {
  display: none;
}

/* Links
    ========================================================================== */
/**
  * Remove the gray background color from active links in IE 10.
  */
a {
  background-color: transparent;
}

/**
  * Improve readability of focused elements when they are also in an
  * active/hover state.
  */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
    ========================================================================== */
/**
  * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
  */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
  * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
  */
b,
strong {
  font-weight: bold;
}

/**
  * Address styling not present in Safari and Chrome.
  */
dfn {
  font-style: italic;
}

/**
  * Address variable `h1` font-size and margin within `section` and `article`
  * contexts in Firefox 4+, Safari, and Chrome.
  */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
  * Addresses styling not present in IE 8/9.
  */
mark {
  background: #ff0;
  color: #000;
}

/**
  * Address inconsistent and variable font size in all browsers.
  */
small {
  font-size: 80%;
}

/**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
    ========================================================================== */
/**
  * 1. Remove border when inside `a` element in IE 8/9/10.
  * 2. Improves image quality when scaled in IE 7.
  */
img {
  border: 0;
}

/**
  * Correct overflow not hidden in IE 9/10/11.
  */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
    ========================================================================== */
/**
  * Address margin not present in IE 8/9 and Safari.
  */
figure {
  margin: 1em 40px;
}

/**
  * Address differences between Firefox and other browsers.
  */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
  * Contain overflow in all browsers.
  */
pre {
  overflow: auto;
}

/**
  * Address odd `em`-unit font size rendering in all browsers.
  * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
  */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
    ========================================================================== */
/**
  * Known limitation: by default, Chrome and Safari on OS X allow very limited
  * styling of `select`, unless a `border` property is set.
  */
/**
  * 1. Correct color not being inherited.
  *  Known issue: affects color of disabled elements.
  * 2. Correct font properties not being inherited.
  * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
  * 4. Improves appearance and consistency in all browsers.
  */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
  * Address `overflow` set to `hidden` in IE 8/9/10/11.
  */
button {
  overflow: visible;
}

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
  * Correct `select` style inheritance in Firefox.
  */
button,
select {
  text-transform: none;
}

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *  and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *  `input` and others.
  * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
  *  Known issue: inner spacing remains in IE 6.
  */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
  * Re-set default cursor for disabled elements.
  */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
  * Remove inner padding and border in Firefox 4+.
  */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
input {
  line-height: normal;
}

/**
  * 1. Address box sizing set to `content-box` in IE 8/9/10.
  * 2. Remove excess padding in IE 8/9/10.
  *  Known issue: excess padding remains in IE 6.
  */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * Fix the cursor style for Chrome's increment/decrement buttons. For certain
  * `font-size` values of the `input`, it causes the cursor style of the
  * decrement button to change from `default` to `text`.
  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
  * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
  */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */
}

/**
  * Remove inner padding and search cancel button in Safari and Chrome on OS X.
  * Safari (but not Chrome) clips the cancel button when the search input has
  * padding (and `textfield` appearance).
  */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * Define consistent border, margin, and padding.
  */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
  * 1. Correct `color` not being inherited in IE 8/9/10/11.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  * 3. Corrects text not wrapping in Firefox 3.
  * 4. Corrects alignment displayed oddly in IE 6/7.
  */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * Remove default vertical scrollbar in IE 8/9/10/11.
  */
textarea {
  overflow: auto;
}

/**
  * Don't inherit the `font-weight` (applied by a rule above).
  * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
  */
optgroup {
  font-weight: bold;
}

/* Tables
    ========================================================================== */
/**
  * Remove most spacing between table cells.
  */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.layout {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 45px;
  grid-template-areas: ".";
}

@media screen and (min-width: 540px) {
  .layout {
    grid-template-rows: 50px;
  }
}

@media screen and (min-width: 1010px) {
  .layout {
    grid-template-columns: 1fr repeat(10, 100px) 1fr;
  }
}

.perfil_producto {
  grid-column: 1 / 11;
  grid-row: 4/ 11;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(10, 1fr);
  justify-items: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

@media screen and (min-width: 540px) {
  .perfil_producto {
    background-color: #F1F3F4;
  }
}

@media screen and (min-width: 814px) {
  .perfil_producto {
    -webkit-box-shadow: 2px 3px 10px #A0C9C5, -1px -1px 10px #A0C9C5;
            box-shadow: 2px 3px 10px #A0C9C5, -1px -1px 10px #A0C9C5;
    min-height: 580px;
    height: calc((100vh - 45px)* 5 / 10);
  }
}

@media screen and (min-width: 1010px) {
  .perfil_producto {
    grid-column: 2 / 12;
    background-color: #F1F3F4;
  }
}

.perfil_producto-item1 {
  grid-column: 2 / 10;
  font-family: "Anton";
}

.perfil_producto-item1 > h1 {
  color: #3C4043;
  margin-top: 3.5vh;
}

.perfil_producto-item1 > img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 2px 3px 10px #46798E;
          box-shadow: 2px 3px 10px #46798E;
}

.perfil_producto-item1-visor {
  margin-top: 0.7rem;
  height: 4rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.perfil_producto-item1-visor-imgitem {
  background-color: black;
  border-radius: 50%;
  height: 50px;
  margin: 0.2rem;
}

.perfil_producto-item1-visor-imgitem img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 2px #46798E, -1px -1px 2px #46798E;
          box-shadow: 1px 1px 2px #46798E, -1px -1px 2px #46798E;
}

.perfil_producto-item1-visor-imgitem:hover img, .perfil_producto-item1-visor-imgitem .activeselect img {
  opacity: 0.4;
}

@media screen and (min-width: 540px) {
  .perfil_producto-item1 {
    grid-column: 3 /9;
  }
}

@media screen and (min-width: 814px) {
  .perfil_producto-item1 {
    grid-column: 2 / 5;
  }
}

@media screen and (min-width: 1010px) {
  .perfil_producto-item1 {
    grid-column: 2 / 6;
  }
}

.perfil_producto-item2 {
  grid-column: 2 / 10;
  font-family: "Raleway";
  margin-bottom: 6vh;
}

.perfil_producto-item2 > h2 {
  margin-top: 2vh;
}

@media screen and (min-width: 1010px) {
  .perfil_producto-item2 > h2 {
    margin-top: 10vh;
  }
}

.perfil_producto-item2 > p {
  margin-bottom: 1rem;
}

.perfil_producto-item2-cajas {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 40px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.perfil_producto-item2-tallas {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 40px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 814px) {
  .perfil_producto-item2-cantidad {
    margin-bottom: 0;
  }
}

.perfil_producto-item2 input {
  width: 7rem;
  height: 1.8rem;
  border-radius: 2px;
  margin: 0.5rem 0;
}

@media screen and (min-width: 540px) {
  .perfil_producto-item2 {
    grid-column: 3 /9;
  }
}

@media screen and (min-width: 814px) {
  .perfil_producto-item2 {
    grid-column: 6 / 9;
  }
}

@media screen and (min-width: 1010px) {
  .perfil_producto-item2 {
    grid-column: 7 / 9;
  }
}

.perfil_producto-item3 {
  margin-top: 1vh;
  border-radius: 50%;
  grid-column: 3 / 9;
  height: 150px;
  width: 150px;
}

.perfil_producto-item3 img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 3px 10px #46798E;
          box-shadow: 2px 3px 10px #46798E;
  border: 1px solid #3C4043;
}

@media screen and (min-width: 814px) {
  .perfil_producto-item3 {
    margin-top: 4vh;
    grid-column: 9 /11;
    height: 125px;
    width: 125px;
  }
  .perfil_producto-item3 img {
    height: 125px;
    width: 125px;
    border-radius: 50%;
  }
}

@media screen and (min-width: 1010px) {
  .perfil_producto-item3 {
    margin-top: 8vh;
    grid-column: 9 /11;
    height: 13535;
    width: 135px;
  }
  .perfil_producto-item3 img {
    height: 135px;
    width: 135px;
    border-radius: 50%;
  }
}

@media screen and (min-width: 814px) {
  .perfil_producto {
    height: calc((100vh - 50px)* 7 / 10);
  }
}

.fondo-producto {
  min-height: calc(100vh - 50px);
  grid-column: 1 / 11;
  grid-row: 2/ 12;
  background-size: cover;
  background-position: -105px center;
}

@media screen and (min-width: 540px) {
  .fondo-producto {
    background-position: -105px center;
  }
}

@media (max-width: 814px) and (orientation: landscape) {
  .fondo-producto {
    background-position: center center;
    grid-row: 2/ 12;
  }
}

@media screen and (min-width: 814px) {
  .fondo-producto {
    background-color: #d9dade;
  }
}

@media screen and (min-width: 1010px) {
  .fondo-producto {
    min-height: 780px;
    height: calc(100vh - 50px);
    background-position: left;
    grid-column: 1 / 13;
    grid-row: 2/ 12;
  }
}

.fondo_login {
  grid-column: 1 / 11;
  grid-row: 2/ 12;
  min-height: 50vh;
  background-color: #F1F3F4;
}

@media screen and (min-width: 1010px) {
  .fondo_login {
    grid-column: 1 / 13;
  }
}

.perfil_login {
  grid-column: 2 / 10;
  grid-row: 3/ 11;
  min-height: 400px;
  height: calc((100vh - 45px)* 9 / 10);
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 20% 30% 10% 40%;
  background-color: #F1F3F4;
  justify-items: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-shadow: 2px 3px 10px #A0C9C5, -1px -1px 10px #A0C9C5;
          box-shadow: 2px 3px 10px #A0C9C5, -1px -1px 10px #A0C9C5;
}

@media screen and (min-width: 540px) {
  .perfil_login {
    background-color: #F1F3F4;
  }
}

@media screen and (min-width: 814px) {
  .perfil_login {
    min-height: 580px;
    height: calc((100vh - 45px)* 5 / 10);
    grid-template-rows: 30% 70%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1010px) {
  .perfil_login {
    grid-column: 2 / 12;
    background-color: #F1F3F4;
  }
}

.ingreso {
  display: GRID;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 7%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: top;
      align-content: top;
  grid-row-gap: 15px;
}

.ingreso h2 {
  -ms-flex-item-align: start;
      align-self: start;
}

.ingreso-item {
  text-align: center;
  height: 25px;
  border: none;
  border-bottom: 1px solid #A0C9C5;
  background-color: #F1F3F4;
}

.ingreso .message {
  text-align: center;
  height: 25px;
  color: #23af5b;
}

.ingreso .messageError {
  text-align: center;
  height: 25px;
  color: red;
}

@media screen and (min-width: 814px) {
  .ingreso {
    -ms-flex-line-pack: top;
        align-content: top;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.registro {
  display: GRID;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 7%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: top;
      align-content: top;
  grid-row-gap: 15px;
  text-align: center;
}

.registro-item {
  text-align: center;
  height: 25px;
  border: none;
  border-bottom: 1px solid #A0C9C5;
  background-color: #F1F3F4;
}

@media screen and (min-width: 814px) {
  .registro {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.tittle-login {
  -ms-flex-item-align: center;
      align-self: center;
}

.carrito {
  margin-bottom: calc((100vh - 50px)* 1 / 10);
  grid-column: 1 / 11;
  grid-row: 3/ 11;
  min-height: calc((100vh - 45px)* 7 / 10);
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: calc((100vh - 45px)* 1 / 10) auto 1.2fr 1fr 1fr;
}

@media screen and (min-width: 540px) {
  .carrito {
    background-color: #F1F3F4;
    grid-template-rows: calc((100vh - 50px)* 2 / 10) auto calc((100vh - 50px) * 1 / 10) calc((100vh - 50px)* 1 / 10) calc((100vh - 50px)* 0.5 / 10);
    grid-row: 4/ 11;
  }
}

@media screen and (min-width: 814px) {
  .carrito {
    grid-template-rows: calc((100vh - 50px)* 1 / 10) auto calc((100vh - 50px)* 1 / 10) calc((100vh - 50px)* 1 / 10) calc((100vh - 50px)* 0.5 / 10);
    -webkit-box-shadow: 2px 3px 10px #A0C9C5, -1px -1px 10px #A0C9C5;
            box-shadow: 2px 3px 10px #A0C9C5, -1px -1px 10px #A0C9C5;
  }
}

@media screen and (min-width: 1010px) {
  .carrito {
    grid-column: 2 / 12;
    background-color: #F1F3F4;
  }
}

.carrito-tittle {
  grid-column: 2 / 10;
  font-family: "Anton";
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 3rem;
}

.carrito-tittle h1 {
  color: #3C4043;
  margin: 0;
}

@media screen and (min-width: 1010px) {
  .carrito-tittle h1 {
    margin: 1rem 0 0;
  }
}

.carrito-listProducto {
  grid-column: 2 / 10;
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 540px) {
  .carrito-listProducto {
    grid-template-columns: 1fr;
  }
}

.carrito-precio {
  font-family: "Raleway";
  font-weight: bold;
  grid-column: 2 / 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (min-width: 540px) {
  .carrito-precio {
    grid-column: 3 / 9;
  }
}

@media screen and (min-width: 814px) {
  .carrito-precio {
    grid-column: 7 / 10;
  }
}

.carrito-bottom {
  grid-column: 2 / 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.carrito-bottom > .bottom {
  margin: 0;
}

@media screen and (min-width: 540px) {
  .carrito-bottom {
    grid-column: 3 / 9;
  }
}

@media screen and (min-width: 814px) {
  .carrito-bottom {
    grid-column: 7 / 10;
  }
}

.carrito-producto {
  font-family: "Raleway";
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr;
  min-height: 220px;
  border-bottom: 2px dotted #3C4043;
}

@media screen and (min-width: 814px) {
  .carrito-producto {
    grid-template-columns: 5fr 5fr 1fr;
    min-height: 130px;
  }
}

.carrito-producto-item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.carrito-producto-item1 > img {
  width: 5rem;
  height: 5rem;
  background-color: white;
  height: auto;
  -webkit-box-shadow: 1px 2px 6px #3C4043;
  box-shadow: 1px 2px 6px #3C4043;
}

.carrito-producto-item1 > h2 {
  font-family: "Anton";
  font-size: 1.2rem;
  text-align: center;
  padding: 0 1.3rem;
  color: #3C4043;
}

.carrito-producto-item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.carrito-producto-item2 img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  -webkit-box-shadow: 1px 2px 6px #3C4043;
          box-shadow: 1px 2px 6px #3C4043;
}

.carrito-producto-item2 input {
  width: 7rem;
  height: 1.8rem;
  border-radius: 2px;
}

.carrito-producto-item3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.fondo-carrito {
  background-color: #F1F3F4;
  grid-column: 1 / 11;
  grid-row: 2/ 12;
  background-size: cover;
  background-position: -105px center;
}

@media screen and (min-width: 540px) {
  .fondo-carrito {
    background-position: -105px center;
  }
}

@media (min-width: 814px) and (orientation: landscape) {
  .fondo-carrito {
    background-position: center center;
    background-color: #d9dade;
    grid-row: 2/ 12;
  }
}

@media screen and (min-width: 1010px) {
  .fondo-carrito {
    background-color: #d9dade;
    min-height: calc(100vh - 50px);
    background-position: left;
    grid-column: 1 / 13;
    grid-row: 2/ 12;
  }
}

.banner {
  grid-column: 1 / 11;
  grid-row: 3/ 10;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(10, 1fr);
  justify-items: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

@media screen and (min-width: 540px) {
  .banner {
    grid-row: 4/ 10;
  }
}

@media screen and (min-width: 814px) {
  .banner {
    grid-row: 5/ 10;
    -webkit-box-shadow: 2px 3px 10px #A0C9C5, -2px -2px 10px #A0C9C5;
            box-shadow: 2px 3px 10px #A0C9C5, -2px -2px 10px #A0C9C5;
    grid-column: 3 / 10;
    background-color: #F1F3F4;
    opacity: 0.8;
    height: calc((100vh - 45px)* 6 / 10);
  }
}

@media screen and (min-width: 1010px) {
  .banner {
    -webkit-box-shadow: 2px 3px 10px #A0C9C5, -2px -2px 10px #A0C9C5;
            box-shadow: 2px 3px 10px #A0C9C5, -2px -2px 10px #A0C9C5;
    grid-column: 4 / 11;
    background-color: #F1F3F4;
    opacity: 0.8;
  }
}

.banner-item1 {
  grid-column: 2 / 10;
  font-family: "Anton";
}

.banner-item1 > h1 {
  margin-top: 3.5vh;
}

.banner-item1 > img {
  background-color: #d9dade;
  height: 12rem;
  width: auto;
  -webkit-box-shadow: 2px 3px 10px #46798E;
          box-shadow: 2px 3px 10px #46798E;
}

@media screen and (min-width: 540px) {
  .banner-item1 {
    grid-column: 3 /9;
  }
}

@media screen and (min-width: 814px) {
  .banner-item1 {
    grid-column: 2 / 5;
  }
}

@media screen and (min-width: 1010px) {
  .banner-item1 {
    grid-column: 2 / 5;
  }
}

.banner-item2 {
  grid-column: 2 / 10;
  font-family: "Raleway";
  margin-bottom: 6vh;
}

.banner-item2 > h2 {
  margin-top: 2vh;
}

@media screen and (min-width: 1010px) {
  .banner-item2 > h2 {
    margin-top: 10vh;
  }
}

.banner-item2 > p {
  margin-bottom: 1rem;
}

.banner-item2-cajas {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 40px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner-item2-tallas {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 40px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 814px) {
  .banner-item2-cantidad {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 540px) {
  .banner-item2 {
    grid-column: 3 /9;
  }
}

@media screen and (min-width: 814px) {
  .banner-item2 {
    grid-column: 6 / 10;
  }
}

@media screen and (min-width: 1010px) {
  .banner-item2 {
    grid-column: 6 /10;
  }
}

@media screen and (min-width: 814px) {
  .banner {
    height: calc((100vh - 50px)* 5 / 10);
  }
}

.inicio-main {
  background-color: #F1F3F4;
  height: calc(100vh - 45px);
  grid-column: 1 / 11;
  grid-row: 2/ 12;
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 540px) {
  .inicio-main {
    background-position: center center;
  }
}

@media (max-width: 814px) and (orientation: landscape) {
  .inicio-main {
    grid-row: 2/ 12;
  }
}

@media screen and (min-width: 1010px) {
  .inicio-main {
    height: calc(100vh - 50px);
    grid-column: 1 / 13;
    grid-row: 2/ 12;
  }
}

.logo {
  height: calc((100vh - 45px)* 1 / 10);
  display: grid;
  margin: 0.5rem;
  grid-row: 2 /3;
  grid-column: 4 / span 6;
  z-index: 2;
}

.logo img {
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  height: auto;
}

@media (max-height: 1010px) and (orientation: landscape) {
  .logo img {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

@media (max-height: 1010px) and (orientation: landscape) {
  .logo {
    background-position: center center;
    grid-row: 2 /4;
    height: calc((100vh - 50px)* 2 / 10);
  }
}

@media screen and (min-width: 814px) {
  .logo {
    grid-row: 2 /4;
    height: calc((100vh - 50px)* 2 / 10);
  }
}

.logoCentrado {
  min-height: 80px;
  max-height: 160px;
  height: calc((100vh - 45px)* 1 / 10);
  display: grid;
  margin: 0.5rem;
  grid-row: 2 /3;
  grid-column: 2 / span 8;
  z-index: 2;
}

.logoCentrado img {
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  height: auto;
}

@media (max-height: 1010px) and (orientation: landscape) {
  .logoCentrado img {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

@media (max-height: 1010px) and (orientation: landscape) {
  .logoCentrado {
    background-position: center center;
    grid-row: 2 /3;
    height: calc((100vh - 50px)* 2 / 10);
    min-height: 150px;
  }
}

@media screen and (min-width: 540px) {
  .logoCentrado {
    grid-column: 3 / span 6;
  }
}

@media screen and (min-width: 814px) {
  .logoCentrado {
    grid-column: 3 / span 6;
    grid-row: 2 /4;
    height: calc((100vh - 50px)* 2 / 10);
  }
}

@media screen and (min-width: 1010px) {
  .logoCentrado {
    min-height: 125px;
    grid-column: 4 / span 6;
  }
}

.separador1 {
  z-index: 15;
  grid-column: 1 / 11;
  grid-row: 12 / 13;
  -webkit-box-shadow: 2px 3px 6px #46798E, -1px -1px 6px #46798E;
          box-shadow: 2px 3px 6px #46798E, -1px -1px 6px #46798E;
  height: 2.5rem;
  background-color: #46798E;
}

@media screen and (min-width: 540px) {
  .separador1 {
    height: 2.5rem;
    grid-column: 1 / 13;
  }
}

.fondo_productos {
  grid-column: 1 / 11;
  grid-row: 13/ 15;
  min-height: 50vh;
  background-color: #F1F3F4;
}

@media screen and (min-width: 1010px) {
  .fondo_productos {
    grid-column: 1 / 13;
  }
}

.article_productos {
  min-height: 50vh;
  display: grid;
  grid-column: 1 / 11;
  grid-row: 13/ 15;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 15vh auto;
}

@media screen and (min-width: 1010px) {
  .article_productos {
    grid-column: 2 / 12;
  }
}

.title_productos {
  align-self: center;
  width: 100%;
  grid-column: 2 / 11;
}

@media screen and (min-width: 1010px) {
  .title_productos {
    grid-column: 1/ 11;
  }
}

.contenedor {
  grid-column: 1 / 11;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F1F3F4;
  grid-row-gap: 5vh;
  padding-bottom: 10vh;
}

@media screen and (min-width: 540px) {
  .contenedor {
    background-position: 25% center;
  }
}

.article_hombre {
  grid-column: 1 / 11;
  grid-row: 15/ 20;
  height: 100vh;
  background-image: url("/assets/img/fhombrem.jpg");
  background-size: cover;
  background-position: 25% center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 540px) {
  .article_hombre {
    height: 125vh;
    background-position: 25% center;
  }
}

@media screen and (min-width: 814px) {
  .article_hombre {
    height: calc(100vh);
    background-position: 30% center;
  }
}

@media screen and (min-width: 1010px) {
  .article_hombre {
    grid-column: 1 / 13;
  }
}

.separador2 {
  z-index: 15;
  grid-column: 1 / 11;
  grid-row: 20 / 21;
  -webkit-box-shadow: 2px 3px 6px #3C4043, -1px -1px 6px #3C4043;
          box-shadow: 2px 3px 6px #3C4043, -1px -1px 6px #3C4043;
  height: 2.5rem;
  background-color: #3C4043;
}

@media screen and (min-width: 540px) {
  .separador2 {
    height: 2.5rem;
    grid-column: 1 / 13;
  }
}

.article_mujer {
  height: 100vh;
  grid-column: 1 / 11;
  grid-row: 21/ 26;
  background-image: url("/assets/img/fmujerxl.jpg");
  background-size: cover;
  background-position: 75% center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 540px) {
  .article_mujer {
    height: 125vh;
    background-position: 75% center;
  }
}

@media screen and (min-width: 814px) {
  .article_mujer {
    height: calc(100vh);
    background-position: 70% center;
  }
}

@media screen and (min-width: 1010px) {
  .article_mujer {
    grid-column: 1 / 13;
  }
}

.separador3 {
  z-index: 15;
  grid-column: 1 / 11;
  grid-row: 26 / 27;
  -webkit-box-shadow: 2px 3px 6px #46798E, -1px -1px 6px #46798E;
          box-shadow: 2px 3px 6px #46798E, -1px -1px 6px #46798E;
  height: 2.5rem;
  background-color: #46798E;
}

@media screen and (min-width: 540px) {
  .separador3 {
    height: 2.5rem;
    grid-column: 1 / 13;
  }
}

.snow {
  z-index: 10;
  grid-column: 1 / 11;
  grid-row: 27/ 33;
  -webkit-box-shadow: 2px 2px 15px #A0C9C5;
          box-shadow: 2px 2px 15px #A0C9C5;
  height: 100vh;
  background-image: url("/assets/img/fondo.jpg");
  background-size: cover;
  background-position: 75% center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 540px) {
  .snow {
    height: 125vh;
    background-position: 75% center;
  }
}

@media screen and (min-width: 814px) {
  .snow {
    height: calc(100vh);
    background-position: right;
  }
}

@media screen and (min-width: 1010px) {
  .snow {
    grid-column: 1 / 13;
  }
}

.footer {
  z-index: 5;
  font-family: "Raleway";
  grid-column: 2 /10;
  grid-row: 33 / 34;
  color: #3C4043;
  background-color: #d9dade;
  height: 15rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "footer-dos" "footer-tres" "footer-uno";
}

@media screen and (min-width: 814px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "footer-dos footer-tres" "footer-uno footer-uno";
  }
}

@media screen and (min-width: 1010px) {
  .footer {
    grid-column: 2 / 12;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "footer-uno footer-dos footer-tres";
  }
}

.footer-uno {
  grid-area: footer-uno;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem;
}

.footer-dos {
  grid-area: footer-dos;
  margin: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-dos .img-sello {
  border-radius: 50%;
  width: 12rem;
  margin: 0 0 1rem;
}

.footer-dos img {
  padding: 0;
}

.footer-tres {
  grid-area: footer-tres;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem;
}

.footer-tres .img-map {
  -webkit-box-shadow: 2px 2px 15px #46798E;
          box-shadow: 2px 2px 15px #46798E;
  margin: 0 0 1rem;
}

.bottom {
  margin: 1rem 0;
  color: whitesmoke;
  font-family: raleway;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  height: 44px;
  background-color: #46798E;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom:hover {
  border: 2px solid #46798E;
  background-color: whitesmoke;
  color: #46798E;
  cursor: pointer;
}

.bottom.fantasma {
  border: 2px solid #46798E;
  background-color: whitesmoke;
  color: #46798E;
}

.bottom.fantasma:hover {
  background-color: #46798E;
  color: whitesmoke;
  cursor: pointer;
}

.boton-opcion {
  color: #3C4043;
  font-family: "Anton";
  font-size: 18px;
  width: 40px;
  height: 40px;
  background-color: #F1F3F4;
  border: 1px solid #3C4043;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boton-opcion:hover {
  border: 1px solid #A0C9C5;
  background-color: #A0C9C5;
  color: #3C4043;
  cursor: pointer;
}

.boton-opcion.active {
  border: 1px solid #A0C9C5;
  background-color: #A0C9C5;
  color: #3C4043;
}

.boton-opcion-2 {
  color: #3C4043;
  font-family: "Anton";
  font-size: 18px;
  width: 40px;
  height: 40px;
  background-color: #F1F3F4;
  border: 1px solid #3C4043;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boton-opcion-2:hover {
  border: 1px solid #23af5b;
  background-color: #23af5b;
  color: #3C4043;
  cursor: pointer;
}

.boton-opcion-2.active {
  border: 1px solid #23af5b;
  background-color: #23af5b;
  color: #3C4043;
}

.boton-opcion-3 {
  color: #3C4043;
  font-family: "Anton";
  font-size: 18px;
  width: 40px;
  height: 40px;
  background-color: #F1F3F4;
  border: 1px solid #3C4043;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: red;
  color: #F1F3F4;
  border-radius: 50%;
  font-family: "Raleway";
  font-weight: bold;
  margin-right: 1%;
  width: 35px;
  height: 35px;
  border: 2px solid #3C4043;
}

.boton-opcion-3:hover {
  border: 1px solid white;
  background-color: white;
  color: #3C4043;
  cursor: pointer;
}

.boton-opcion-3.active {
  border: 1px solid white;
  background-color: white;
  color: #3C4043;
}

.boton-opcion-3:hover {
  border: 2px solid #3C4043;
}

.main-header {
  height: 45px;
  display: grid;
  width: 100%;
  grid-template-columns: 5% 60px 1fr 60px 5%;
  grid-template-areas: ". logo . toggle .";
  background-color: #F1F3F4;
  position: fixed;
  z-index: 1000;
  -webkit-box-shadow: 2px 2px 15px #A0C9C5;
          box-shadow: 2px 2px 15px #A0C9C5;
}

@media screen and (min-width: 540px) {
  .main-header {
    height: 50px;
  }
}

@media screen and (min-width: 814px) {
  .main-header {
    grid-template-columns: 3% 80px 1fr 80px 3%;
    grid-template-areas: ". logo menu user .";
    height: 50px;
  }
}

@media screen and (min-width: 1010px) {
  .main-header {
    grid-template-columns: 3% 80px 1fr 80px 3%;
    grid-template-areas: ". logo menu user .";
  }
}

@media screen and (min-width: 1300px) {
  .main-header {
    grid-template-columns: 3% 1fr 1000px 1fr 3%;
    grid-template-areas: ". logo menu user .";
  }
}

.main-header__item1 {
  grid-area: logo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header__item1 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imagen-menu {
  height: 45px;
}

.main-header__item2 {
  grid-area: menu;
  align-self: center;
  justify-self: center;
  display: none;
}

@media screen and (min-width: 814px) {
  .main-header__item2 {
    display: inline-block;
  }
}

.main-header__item2__active {
  position: fixed;
  height: 30rem;
  width: 90%;
  background-color: #A0C9C5;
  border: 5px solid #3C4043;
  border-radius: 5px;
  top: 9vh;
  left: 5%;
  opacity: 0.95;
}

.main-menu-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-menu-list li {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-menu-list li:hover {
  border-bottom: 3px solid #A0C9C5;
}

.main-menu-list a {
  font-family: "Anton";
  color: #3C4043;
  font-size: 20px;
  margin: 0 20px;
}

@media screen and (max-width: 1010px) {
  .main-menu-list li:first-child {
    display: none;
  }
}

.main-menu-list__active {
  padding-top: 3vh;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 4rem);
  grid-template-areas: ". ";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-menu-list__active li:first-child {
  display: none;
}

.main-menu-list__active li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.main-menu-list__active a {
  font-family: "Anton";
  color: #3C4043;
  font-size: 30px;
  margin: auto;
  padding: 10px 80px;
}

.main-header__item3 {
  grid-area: user;
  place-self: center;
  color: #3C4043;
  margin-top: 0;
  display: none;
}

@media screen and (min-width: 814px) {
  .main-header__item3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.main-header__item3 a {
  color: #3C4043;
  margin: 0 0.5rem;
  font-size: 10px;
}

.main-header__item3:hover {
  cursor: pointer;
}

.main-header__item3__active {
  position: fixed;
  height: 5rem;
  width: 90%;
  background-color: transparent;
  top: calc(4rem * 4 + 16vh);
  left: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header__item3__active__first {
  font-family: raleway;
  color: #3C4043;
  font-size: 15px;
  grid-column-start: 2;
}

.main-header__item3__active__second {
  font-family: raleway;
  color: #3C4043;
  font-size: 15px;
  grid-column-start: 3;
}

.main-header__item3__active__third {
  font-family: raleway;
  color: #3C4043;
  font-size: 18px;
  grid-column-start: 4;
}

.main-header__item3__active__third:hover {
  cursor: pointer;
}

.main-header__item4 {
  height: 2.5rem;
  display: grid;
  grid-area: toggle;
  padding: 0 10%;
  place-self: center;
}

@media screen and (min-width: 814px) {
  .main-header__item4 {
    display: none;
  }
}

@media screen and (min-width: 1010px) {
  .main-header__item4 {
    display: none;
  }
}

.main-header__item4:hover {
  cursor: pointer;
}

.main-menu-toggle {
  width: 2.5rem;
  height: 1.7rem;
  place-self: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(18%, #3C4043), color-stop(18%, transparent), color-stop(41%, transparent), color-stop(41%, #3C4043), color-stop(59%, #3C4043), color-stop(59%, transparent), color-stop(82%, transparent), color-stop(82%, #3C4043), to(#3C4043));
  background: linear-gradient(#3C4043 18%, transparent 18%, transparent 41%, #3C4043 41%, #3C4043 59%, transparent 59%, transparent 82%, #3C4043 82%, #3C4043 100%);
}

.main-header__social {
  position: fixed;
  left: 25%;
  width: 50%;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header__social a {
  border-radius: 30%;
  color: #3C4043;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.8rem;
  width: 1.8rem;
  margin: 0 0.8rem;
}

.main-header__social a i {
  font-size: 2.2rem;
}

.main-header__social .face:hover {
  color: #4267B2;
  background: white;
}

.main-header__social .insta:hover {
  color: white;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.main-header__social .tres:hover {
  color: #1da1f2;
  background: white;
}

@media screen and (min-width: 540px) {
  .main-header__social {
    height: 50px;
  }
}

@media screen and (min-width: 814px) {
  .main-header__social {
    height: 150px;
    width: 10%;
    left: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    top: 60px;
  }
  .main-header__social a {
    height: 2rem;
    color: #3C4043;
    margin: 0;
    height: 2rem;
  }
  .main-header__social a i {
    font-size: 2.4rem;
  }
}

.caja-producto {
  width: 280px;
  height: 390px;
}

.caja-producto-item1 img {
  background-color: white;
  width: 280px;
  height: auto;
  -webkit-box-shadow: 2px 3px 10px #46798E;
          box-shadow: 2px 3px 10px #46798E;
}

.caja-producto-item1 i {
  color: #3C4043;
  font-size: 28px;
  position: relative;
  -webkit-transform: translate(750%, -150%);
          transform: translate(750%, -150%);
}

.caja-producto-item1 i :hover {
  color: black;
}

.caja-producto-item1 a :hover {
  color: black;
}

.caja-producto-item2 {
  font-family: "Raleway";
  color: #3C4043;
  background-color: transparent;
  min-height: 80px;
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: -webkit-fit-content -webkit-fit-content;
  grid-template-rows: fit-content fit-content;
  padding: 0 2%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.caja-producto-item2_title {
  -ms-flex-item-align: start;
      align-self: start;
  padding-top: 2%;
  border-top: 2px dotted #3C4043;
}

.caja-producto-item2_title a {
  color: #3C4043;
}

.caja-producto-item2_title a :hover {
  color: black;
  font-size: 22px;
}

.caja-producto-item2_precio {
  -ms-flex-item-align: end;
      align-self: end;
  padding-bottom: 2%;
}

.title_productos {
  font-family: "Anton", sans-serif;
  font-size: 16px;
  margin: 0;
  color: #3C4043;
}

@media screen and (min-width: 540px) {
  .title_productos {
    font-size: 21px;
  }
}

.caja-producto-item2_title {
  font-weight: 0;
}

.caja-producto-item2_precio {
  font-weight: bold;
}

.descripcion {
  font-size: 15px;
  font-weight: bold;
}

.tipografia1 {
  font-family: "Anton", sans-serif;
}

.tipografia2 {
  font-family: "Raleway", sans-serif;
}

.color3 {
  color: #23af5b;
}

.fondo_caja {
  background-image: url("/assets/img/arenaxl.jpg");
  opacity: 0.5;
  z-index: -10;
}

@media screen and (min-width: 540px) {
  .fondo_caja {
    opacity: 0.625;
    grid-template-rows: 50px;
  }
}

@media screen and (min-width: 814px) {
  .fondo_caja {
    opacity: 0.75;
    background-image: url("/assets/img/arenaxl.jpg");
  }
}

@media screen and (min-width: 1010px) {
  .fondo_caja {
    opacity: 0.9;
  }
}

@media screen and (min-width: 1300px) {
  .fondo_caja {
    opacity: 1;
    background-image: url("/assets/img/arenaxl.jpg");
  }
}

.fondo_hombre {
  background-position: center center;
  background-image: url("/assets/img/guys.jpg");
}

@media screen and (min-width: 540px) {
  .fondo_hombre {
    grid-template-rows: 50px;
  }
}

@media screen and (min-width: 814px) {
  .fondo_hombre {
    background-image: url("/assets/img/guym.jpg");
  }
}

@media screen and (min-width: 1300px) {
  .fondo_hombre {
    background-image: url("/assets/img/guyl.jpg");
    background-position: top;
  }
}

.fondo_mujer {
  background-position: top;
  background-image: url("/assets/img/girls.jpg");
}

@media screen and (min-width: 540px) {
  .fondo_mujer {
    grid-template-rows: 50px;
  }
}

@media screen and (min-width: 814px) {
  .fondo_mujer {
    background-image: url("/assets/img/girlm.jpg");
  }
}

@media screen and (min-width: 1300px) {
  .fondo_mujer {
    background-image: url("/assets/img/girll.jpg");
  }
}

/*# sourceMappingURL=styles.css.map */
